<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="org.lineageos.overlay.lapis.lapisdisplaygeometry" android:versionCode="1" android:versionName="1.0">
    <overlay android:targetPackage="android" android:requiredSystemPropertyName="ro.product.vendor.device" android:requiredSystemPropertyValue="lapis" android:isStatic="true" android:priority="999" />
    <application android:hasCode="false" android:label="LapisDisplayGeometry" />
</manifest>
