<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.lineageos.overlay.lapis.lapisimsframework">
    <overlay android:targetPackage="android"
        android:requiredSystemPropertyName="ro.product.vendor.device"
        android:requiredSystemPropertyValue="lapis"
        android:isStatic="true" android:priority="999" />
    <application android:hasCode="false" />
</manifest>
