<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.lineageos.overlay.lapis.udfps">
    <overlay android:targetPackage="com.android.systemui"
        android:requiredSystemPropertyName="ro.product.vendor.device"
        android:requiredSystemPropertyValue="lapis"
        android:isStatic="true"
        android:priority="999" />
    <application android:hasCode="false" android:label="Lapis fingerprint geometry" />
</manifest>
